<!-- views/admin.html -->
<div class="admin-container">
  <h1>Gestão de Produtos</h1>

  <form class="form-produto" id="form-produto">
    <input id="produto-id" type="hidden">
    <input type="text" id="produto-nome" placeholder="Nome do Produto">
    <input type="number" id="produto-preco" placeholder="Preço (ex: 8.50)">
    <input type="text" id="produto-categoria" placeholder="Categoria (Salgados, Bebidas...)">
    <button type="button" id="btn-salvar-produto">Salvar Produto</button>
    <button type="button" id="btn-cancelar-edicao" class="hidden">Cancelar Edição</button>
  </form>

  <h2>Produtos Cadastrados</h2>
  <table id="tabela-produtos">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Categoria</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody id="tabela-produtos-body"></tbody>
  </table>
</div>
